<div class="header">
    <div class="container">
      <div class="clearfix">
        <div class="left">
          <h1>Basic 90</h1>
          <h5>Free HTML <sub>5</sub>Website Template</h5>
        </div>
        <div class="right">
          <input type="search" placeholder="Search Our Website....">
          <button type="button" class="button" onclick="Submit"><b>SUBMIT</b></button>
        </div>
      </div>
      <div>
        <nav class="navbar navbar-expand-lg navtop">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">TEXT LINK </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TEXT LINK </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TEXT LINK </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TEXT LINK </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TEXT LINK </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  
