<div class="footer">
    <div class="mt-4">
      <div class="container">
        <div class="clearfix">
          <div class="row">
            <div class="col-3 mt-4">
              <h5><i> LINK BLOCK</i></h5>
              <ul class="pad">
                <li class="para8">Lorem ipsum dolor sit</li>
                <li class="para8">Amet consectetur</li>
                <li class="para8">Praesent</li>
                <li class="para8">Curabitur hendrerit est</li>
                <li class="para8">Sed a nulla urna</li>
              </ul>
            </div>
            <div class="col-3 mt-4">
              <h5><i>LINK BLOCK</i></h5>
              <ul class="pad">
                <li class="para8">Lorem ipsum dolor sit</li>
                <li class="para8">Amet consectetur</li>
                <li class="para8">Praesent</li>
                <li class="para8">Curabitur hendrerit est</li>
                <li class="para8">Sed a nulla urna</li>
              </ul>
            </div>
            <div class="col-3 mt-4">
              <h5><i>LINK BLOCK</i></h5>
              <ul class="pad">
                <li class="para8">Lorem ipsum dolor sit</li>
                <li class="para8">Amet consectetur</li>
                <li class="para8">Praesent</li>
                <li class="para8">Curabitur hendrerit est</li>
                <li class="para8">Sed a nulla urna</li>
              </ul>
            </div>
            <div class="col-3 mt-4">
              <h5><i>LINK BLOCK</i></h5>
              <ul class="pad">
                <li class="para8">Lorem ipsum dolor sit</li>
                <li class="para8">Amet consectetur</li>
                <li class="para8">Praesent</li>
                <li class="para8">Curabitur hendrerit est</li>
                <li class="para8">Sed a nulla urna</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="float-right">Template by Abdul</div>
      <div class="float-left">Copyrights &copy;2009-2020-All Rights Reserved-Domain Names</div>
    </div>
  </div>
  
