<form [formGroup]="ticketData">

  <div class="form-group">
    <label for="contractnumber">Contract Number:</label>
    <!-- <input required id="contractnumber" class="form-control"
            autocomplete="off"> -->
    <select [class.is-invalid]="ticketData.get('contractNumber')?.invalid && ticketData.get('contractNumber')?.touched"
      formControlName="contractNumber" id="contractnumber" class="form-control" (change)="getemployeeList()">
      <option value=""></option>
      <option *ngFor="let cotNo of contractNumberList" value="{{cotNo.ContractNumber}}">{{cotNo.ContractNumber}}
      </option>
    </select>
    <span class="text-danger"
      [class.d-none]="ticketData.get('contractNumber')?.valid || ticketData.get('contractNumber')?.untouched">Contract
      number is required</span>
    <div id="empty">

    </div>
  </div>

  <div class="form-group">
    <label for="labourid">Labour ID:</label>
    <select [class.is-invalid]="ticketData.get('employeeId')?.invalid && ticketData.get('employeeId')?.touched"
    formControlName="employeeId" required id="labourid" class="form-control" (change)="getticketType()">
      <option value=""></option>
      <option *ngFor="let empId of employeeId" value="{{empId.EmployeeId}}">{{empId.EmployeeId}}</option>
    </select>
    <span class="text-danger"
    [class.d-none]="ticketData.get('employeeId')?.valid || ticketData.get('employeeId')?.untouched">Labour
    ID is required</span>
  </div>

  <div class="form-group">
    <label for="tickettype">Ticket Type:</label>
    <select [class.is-invalid]="ticketData.get('ticketType')?.invalid && ticketData.get('ticketType')?.touched"
    formControlName="ticketType" required id="tickettype" class="form-control"
      (change)="getdepartmentList($event)">
      <option value=""></option>
      <option *ngFor="let tic of ticketType" value="{{tic.ID}}">{{tic.Name}}</option>
    </select>
    <span class="text-danger"
    [class.d-none]="ticketData.get('ticketType')?.valid || ticketData.get('ticketType')?.untouched">Ticket
    Type is required</span>
  </div>

  <div class="form-group">
    <label for="department">Department:</label>
    <select  [class.is-invalid]="ticketData.get('departmentSection')?.invalid && ticketData.get('departmentSection')?.touched"
    formControlName="departmentSection" required id="department" class="form-control"
      (change)="getAssignto();getcategoryList()">
      <option value=""></option>
      <option *ngFor="let dep of departmentId " value="{{dep.ID}}">{{dep.Name}}</option>
    </select>
    <span class="text-danger"
    [class.d-none]="ticketData.get('departmentSection')?.valid || ticketData.get('departmentSection')?.untouched">Department
    ID is required</span>
  </div>

  <div class="form-group">
    <label for="assignedto">Assigned To:</label>
    <select  [class.is-invalid]="ticketData.get('assignedTo')?.invalid && ticketData.get('assignedTo')?.touched"
    formControlName="assignedTo" required id="assignedto" class="form-control" (change)="getpriorityList()">
      <option value=""></option>
      <option *ngFor="let ass of assignedTolist" value="{{ass.ID}}">{{ass.Name}}</option>
    </select>
    <span class="text-danger"
    [class.d-none]="ticketData.get('assignedTo')?.valid || ticketData.get('assignedTo')?.untouched">Assigned
    To is required</span>
  </div>

  <div class="form-group">
    <label for="priority">Priority:</label>
    <select  [class.is-invalid]="ticketData.get('priorityType')?.invalid && ticketData.get('priorityType')?.touched"
    formControlName="priorityType" required id="priority" class="form-control" (change)="getcategoryList()">
      <option value=""></option>
      <option *ngFor="let pri of priorityId" value="{{pri.ID}}">{{pri.Name}}</option>
    </select>
    <span class="text-danger"
    [class.d-none]="ticketData.get('priorityType')?.valid || ticketData.get('priorityType')?.untouched">Priority
     is required</span>
  </div>

  <div class="form-group">
    <label for="category">Category:</label>
    <select [class.is-invalid]="ticketData.get('categoryId')?.invalid && ticketData.get('categoryId')?.touched"
    formControlName="categoryId" required id="category" class="form-control" (change)="getsubCategory()">
      <option value=""></option>
      <option *ngFor="let cat of categoryList" value="{{cat.TicketGroupID}}">{{cat.TicketGroupName}}</option>
    </select>
    <span class="text-danger"
    [class.d-none]="ticketData.get('categoryId')?.valid || ticketData.get('categoryId')?.untouched">Category
     is required</span>
  </div>

  <div class="form-group">

    <label for="subcategory">Sub Category:</label>
    <select [class.is-invalid]="ticketData.get('subCategory')?.invalid && ticketData.get('subCategory')?.touched"
    formControlName="subCategory" required id="subcategory" class="form-control">
      <option value=""></option>
      <option *ngFor="let sub of subCategory" value="{{sub.Id}}">{{sub.Description}}</option>
    </select>
    <span class="text-danger"
    [class.d-none]="ticketData.get('subCategory')?.valid || ticketData.get('subCategory')?.untouched">Sub Category
     is required</span>
  </div>

  <div class="form-group">
    <label for="ticketsubject">Ticket Subject:</label>
    <input  [class.is-invalid]="ticketData.get('ticketSubject')?.invalid && ticketData.get('ticketSubject')?.touched"
     formControlName="ticketSubject" type="text" class="form-control" placeholder="Ticket Subject" required
      type="text" id="ticketsubject">
      <span class="text-danger"
      [class.d-none]="ticketData.get('ticketSubject')?.valid || ticketData.get('ticketSubject')?.untouched">Subject
      To is required</span>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input  [class.is-invalid]="ticketData.get('description')?.invalid && ticketData.get('description')?.touched"
     formControlName="description" type="text" class="form-control" placeholder="Description" required type="text"
      id="description">
      <span class="text-danger"
      [class.d-none]="ticketData.get('description')?.valid || ticketData.get('description')?.untouched">Description
       is required</span>
  </div>

  <button type="submit" class="btn butt" (click)="getsubmitData()" [disabled]="ticketData.invalid">
    Submit
  </button>
</form>
