<app-header></app-header>


<div class="mt-5">
    <h1 style="text-align: center;" class="tick">Sorting, Pagination and Searching</h1>
    <div class="clearfix">
        <div class="right">
            <button  type="button" class="btn btn-Warning" (click)="openPopup()" data-toggle="modal"
                data-target="#myModal">
                Create
            </button>
        </div>
        <table>
            <thead>
                <tr>
                    <th (click)="sort('EnquiryId')">Ticket ID&nbsp;<i class="fa fa-sort"></i></th>
                    <th (click)="sort('CreatedDatetime')">Ticket Date&nbsp;<i class="fa fa-sort"></i></th>
                    <th (click)="sort('CreatedBy')">Created By&nbsp;<i class="fa fa-sort"></i></th>
                    <th (click)="sort('ContractNumber')">Contract Number&nbsp;<i class="fa fa-sort"></i></th>
                    <th (click)="sort('CustomerId')">Customer ID&nbsp;<i class="fa fa-sort"></i></th>
                    <th (click)="sort('CustomerName')">Customer Name&nbsp;<i class="fa fa-sort"></i></th>
                    <th (click)="sort('StatusName')">Status&nbsp;<i class="fa fa-sort"></i></th>
                    <th (click)="sort('TicketTypeName')">Ticket Type&nbsp;<i class="fa fa-sort"></i></th>
                    <th (click)="sort('PriorityName')">Priority&nbsp;<i class="fa fa-sort"></i></th>
                    <th>Subject</th>
                </tr>
                <tr>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.EnquiryId" (input)="filterValue('EnquiryId')" 
                        class="form-control inline-block filterInputBox">
                    </th>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.CreatedDatetime" (input)="filterValue('CreatedDatetime')" 
                        class="form-control inline-block">
                    </th>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.CreatedBy" (input)="filterValue('CreatedBy')" 
                        class="form-control inline-block">
                    </th>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.ContractNumber" (input)="filterValue('ContractNumber')" 
                        class="form-control inline-block">
                    </th>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.CustomerId" (input)="filterValue('CustomerId')" 
                        class="form-control inline-block">
                    </th>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.CustomerName" (input)="filterValue('CustomerName')" 
                        class="form-control inline-block">
                    </th>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.StatusName" (input)="filterValue('StatusName')" 
                        class="form-control inline-block">
                    </th>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.TicketTypeName" (input)="filterValue('TicketTypeName')" 
                        class="form-control inline-block">
                    </th>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.PriorityName" (input)="filterValue('PriorityName')" 
                        class="form-control inline-block">
                    </th>
                    <th>
                        <input type="text" placeholder="Search" aria-label="Search" 
                        [(ngModel)]="filterText.Subject" (input)="filterValue('Subject')" 
                        class="form-control inline-block">
                    </th>

                </tr>
            </thead>
            <tbody id="ticket-body">

                <tr *ngFor="let tick of ticketList | filter:filterCol.value:filterCol.col | sort:[sortingFrom ,sortBy]     
                                     | paginate:{itemsPerPage:itemPerpage,currentPage:pageStart}">
                <td>{{tick.EnquiryId}}</td>
                <td>{{tick.CreatedDatetime}}</td>
                <td>{{tick.CreatedBy}}</td>
                <td>{{tick.ContractNumber}}</td>
                <td>{{tick.CustomerId}}</td>
                <td>{{tick.CustomerName}}</td>
                <td>{{tick.StatusName}}</td>
                <td>{{tick.TicketTypeName}}</td>
                <td>{{tick.PriorityName}}</td>
                <td>{{tick.Subject}}</td>

                </tr>
                
            </tbody>
        </table>
        <ul class="pagination">

            <pagination-controls (pageChange)="pageStart=$event"></pagination-controls>
            
            <select class="inline-block" id="show-data" [(ngModel)]="itemPerpage" (change)="page()">
                <option value="1">1</option>
                <option value="3">2</option>
                <option value="5">3</option>
                <option value="10">4</option>
                <option value="15">5</option>
            </select>
        </ul>

        <div class="container">

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">TICKET CREATION</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <ng-container *ngIf="showPopup">
                                <app-pop-up ></app-pop-up>
                            </ng-container>
                            
                            <!-- <form [formGroup]="ticketData">

                                <div class="form-group">
                                    <label for="contractnumber">Contract Number:</label>
                                
                                        <select formControlName="contractNumber" id="contractnumber" class="form-control" (input)="getemployeeList()">
                                            <option value=""></option>
                                            <option *ngFor="let cotNo of contractNumberList" value="{{cotNo.ContractNumber}}">{{cotNo.ContractNumber}}</option>
                                        </select>
                                    <div id ="empty">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="labourid">Labour ID:</label>
                                    <select formControlName="employeeId" required id="labourid" class="form-control" (input)="getticketType()">
                                        <option value=""></option>
                                        <option *ngFor="let empId of employeeId" value="{{empId.EmployeeId}}">{{empId.EmployeeId}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="tickettype">Ticket Type:</label>
                                    <select formControlName="ticketType" required id="tickettype" class="form-control" (input)="getdepartmentList()">
                                        <option value=""></option>
                                        <option *ngFor="let tic of ticketType" value="{{tic.ID}}">{{tic.Name}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="department">Department:</label>
                                    <select  formControlName="departmentSection" required id="department" class="form-control" (input)="getAssignto()">
                                        <option value=""></option>
                                        <option *ngFor="let dep of departmentId " value="{{dep.ID}}">{{dep.Name}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="assignedto">Assigned To:</label>
                                    <select formControlName="assignedTo" required id="assignedto" class="form-control" (input)="getpriorityList()">
                                        <option value=""></option>
                                        <option *ngFor="let ass of assignedTolist" value="{{ass.ID}}">{{ass.Name}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="priority">Priority:</label>
                                    <select formControlName="priorityType" required id="priority" class="form-control" (input)="getcategoryList()">
                                        <option value=""></option>
                                        <option *ngFor="let pri of priorityId" value="{{pri.ID}}">{{pri.Name}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="category">Category:</label>
                                    <select formControlName="categoryId" required id="category" class="form-control" (input)="getsubCategory()">
                                        <option value=""></option>
                                        <option *ngFor="let cat of categoryList" value="{{cat.TicketGroupID}}">{{cat.TicketGroupName}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="subcategory">Sub Category:</label>
                                    <select formControlName="subCategory" required id="subcategory" class="form-control">
                                        <option value=""></option>
                                        <option *ngFor="let sub of subCategory" value="{{sub.Id}}">{{sub.Description}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="ticketsubject">Ticket Subject:</label>
                                    <input formControlName="ticketSubject" type="text" class="form-control" placeholder="Ticket Subject" required
                                        type="text" id="ticketsubject">
                                </div>

                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <input formControlName="description" type="text" class="form-control" placeholder="Description" required
                                        type="text" id="description">
                                </div>

                                <button type="submit" class="btn butt" (click)="getsubmitData()" [disabled]="ticketData.invalid">
                                    Submit
                                </button>
                            </form> -->
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="closemodal" class="btn butt"
                                data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<app-footer></app-footer>
<router-outlet></router-outlet>