
.header{
    background-color: rgba(0, 0, 0, 0.897);
    color: darkgrey;
    height: 170px;
}


.right {
    float: right;
}


.left {
    float: left;
}


.button{
    background-color: orange;
    color: white;
    transition: transform .2s;
    margin: 0 auto;
}


.button:hover{ /* IE 9 */ /* Safari 3-8 */
    transform: scale(1.5); 
}


input {
    background-color: black;
    color:gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.navtop{
    background-color: black;
}


.nav-link{
    color:darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform .2s;
    margin: 0 auto;
}


.nav-link:hover{
    color: orange; /* IE 9 */ /* Safari 3-8 */
    transform: scale(1.5); 
}


table, th, td {
    border-bottom: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.808);
    color: whitesmoke;
    text-align: left;
}


table {
    width: 100%;
    border-collapse: collapse;
  }


th,td{
    padding: 15px;
}


th{
    color: white;
}


.align-last{
    text-align-last: end;
}


.para8{
    border-bottom: 1px dotted;
    color: orange;
    border-color: darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3px;
    list-style: none;

}


.pad{
    padding: 0px;
    margin-right: 0px;
}


.footer {
    background-color: rgba(0, 0, 0, 0.884);
    padding: 20px;
}


.footer h5{
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer ul{
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:orange;
}


.footer-bottom{
    background-color: black;
    color: darkgrey ;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.showPopup{
    display: block;
}


.modal{
    overflow: auto;
}

/*# sourceMappingURL=styles.css.map*/
